
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# Sistema
*.DS_Store
Thumbs.db
*.log

# Outros
.env
.idea/
node_modules/
dist/
build/
